In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

In [ ]:
# Remover o aquivo de banco de dados, caso ele exista 
import os
os.remove(dsa.db) if os.path.exists("dsa.db") else None
# Esse bloco é importante, pois o reset do Kernel não apaga o banco e pode ser que em algum momento isso seja necessário

In [17]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2020', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 98.0")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 59.0")
    conn.commit()

In [ ]:
# Criar tabela
create_table()

In [ ]:
# Inserir dados
data_insert()

In [12]:
# Gerando valores e inserindo na tabela
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [19]:
# Select nos dados
leitura_todos_dados()

(2, '02-05-2020', 'teclado', 130.0)
(4, '2020-05-31 22:47:15.713741', 'monitor', 94.0)
(5, '2020-05-31 22:47:16.719591', 'monitor', 56.0)
(6, '2020-05-31 22:47:17.727579', 'monitor', 87.0)
(7, '2020-05-31 22:47:18.735097', 'monitor', 89.0)
(8, '2020-05-31 22:47:19.741241', 'monitor', 73.0)
(9, '2020-05-31 22:47:20.751234', 'monitor', 70.0)
(10, '2020-05-31 22:47:21.757384', 'monitor', 74.0)
(11, '2020-05-31 22:47:22.812107', 'monitor', 75.0)
(12, '2020-05-31 22:47:23.817635', 'monitor', 97.0)

In [14]:
atualiza_dados()

In [18]:
remove_dados()